*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 48px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-left: 32px;
  z-index: 1;
}

nav a{
  color: black;
  text-decoration: none;
}

.nav-right {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
  padding-right: 32px;
}

nav .create-post-button {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  align-items: center;
  color: white;
  background-color: #6A8EAE;
  padding: 4px 12px;
  border-radius: 4px;
  transition-duration: 0.2s;
}

nav .create-post-button:hover {
  background-color: #226199;
}

.log-sign-in {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 8px;
  gap: 4px;
}
.log-sign-in-link {
  color: black;

}

.logout{
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #6A8EAE;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  padding: 12px 12px;
  transition-duration: 0.2s;
}

.logout:hover {
  background-color: #226199;
}

.feed{
  width: 40vw;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 20px;
}

.after-nav{
  margin-top: 60px;
}

.post-editor {
  margin: auto;
  margin-top: 16vh;
  width: 60vw;
  border-radius: 8px;
  padding: 20px 32px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-editor textarea{
  resize: none;
  border: 1px solid #ccc;
  outline: none;
  padding: 8px 12px; 
  border-radius: 4px;
 
  height: 100px;
  font-size: 1.2em;
}

.post-editor img{
  width: 90%;
  max-width: 90%;
  max-height: 80%;
  align-self: center;
}

.post{
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  padding: 12px 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.post h3{
  margin-top: 4px;
}

.post img{
  margin-top: 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 90%;
  max-width: 90%;
}

.post .likes-box button {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 20px;
  font-size: 1em;
  padding: 4px 8px;
}

.post .likes-box button:hover {
  background-color: #ccc;
}


.post .likes-box button p{
  margin-left: 4px;
  display: inline;
}

.friends-and-requests {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends-container ul {
  overflow-y: scroll;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
}

.friends{
  position: fixed;
  right: 4vw;
  top: 16vh;
}

.friends-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 20px 20px;
}

.friend-box{
  list-style: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  padding: 12px 16px;
}

.friend-box .friend-box-image{
  display: flex;
  justify-content: start;
}
.friend-box-image {
  display: flex;
}

.friend-box-image a{
  margin-left: 8px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.friend-box-buttons {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.avatar{
  width: 2rem;
  height: 2rem;
  border-radius: 40px;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .profile-pic{
  margin-top: 8vh;
  width: 8rem;
  height: 8rem;
}

.profile h1{
  margin-top: 4vh;
}

.profile > ul{
  display: flex;
  list-style: none;
  gap: 20px;
}
.profile > ul > li {
  display: flex;
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 240px;
  position: relative;
  top: 25vh;
  width: 400px;
  margin: auto;
  border: 1px solid;
  padding: 20px 20px
}

.register-form h2{
  margin: auto;
}

.register-form input{
  align-self: center;
  width: 300px;
  height: 32px;
  padding: 4px 8px;
  font-size: 1rem;
  margin-top: 8px;
  border: none;
  outline: none;
  border-bottom: 1px solid;
}

.register-form button{
  align-self: center;
  width: 300px;
  height: 32px;
  padding: 4px 8px;
  font-size: 1rem;
  margin-top: 16px;
  background-color: #6A8EAE;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  padding: 4px 8px;
  transition-duration: 0.2s;
}


.register-form button:hover {
  background-color: #226199;
}

.error-color {
  margin: 4px auto;

  color: red;
}

.success-color {
  color: rgb(0, 170, 0);
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  position: relative;
  top: 25vh;
  width: 400px;
  margin: auto;
  border: 1px solid;
  padding: 20px 20px
}

.login-form h2{
  margin: auto;
}

.login-form input{
  align-self: center;
  width: 300px;
  height: 32px;
  padding: 4px 8px;
  font-size: 1rem;
  margin-top: 8px;
  border: none;
  outline: none;
  border-bottom: 1px solid;
}

.login-form button{
  align-self: center;
  width: 300px;
  height: 32px;
  padding: 4px 8px;
  font-size: 1rem;
  margin-top: 16px;
  background-color: #6A8EAE;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  padding: 4px 8px;
  transition-duration: 0.2s;
}

.login-form button:hover {
  background-color: #226199;
}

.profile-friends {
  overflow-x: scroll;
  padding: 20px 20px;
  max-width: 80vw;
}

.add-friend-form {
  height: 40px;
  width: 300px;
  margin: auto;
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.add-friend-form input {
  border: none;
  outline: none;
  flex: 4;
  padding: 4px 16px;
  font-size: 1em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.add-friend-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #6A8EAE;
  color: white;
  flex: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition-duration: 0.2s;
}

.add-friend-form button svg {
  height: 24px;
}

.add-friend-form button:hover {
  background-color: #226199;
}

.firends-container {
  display: flex;
  width: 40%;
}

.add-friend-message {
  margin: auto;
  margin-top: 12px;
  width: fit-content;
}

.friends-label {
  margin: 12px 20px;
  font-size: 1.5em;
}

.friend-requests-label {
  margin: 12px 20px;
  font-size: 1.5em;
}

.message-link {
  background-color: #6A8EAE;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  padding: 4px 8px;
  transition-duration: 0.2s;
}

.message-link:hover {
  background-color: #226199;
}

.remove-friend {
  margin-left: 4px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1em;
  padding: 4px 8px;
  transition-duration: 0.2s;
  color: white;
  background-color: rgb(255, 0, 0);
}

.remove-friend:hover {
  background-color: white;
  border-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0)
}

.friend-requests li {
  list-style: none;
  display: flex;
  margin: 16px 0px;
  flex-direction: column;
  width: fit-content;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  padding: 12px 16px;
}

.accept-friend {
  background-color: #55d671;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1em;
  padding: 4px 8px;
  transition-duration: 0.2s;
}

.accept-friend:hover {
  border: 1px solid #55d671;
  color: #55d671;
  background-color: white;
}

.decline-friend {
  border: 1px solid white;
  margin-left: 4px;
  background-color: #ce4242;
  color: white;
  border-radius: 20px;
  font-size: 1em;
  padding: 4px 8px;
  transition-duration: 0.2s;
}

.decline-friend:hover{
  border: 1px solid #ce4242;
  color: #ce4242;
  background-color: white;
}

#messages{
  box-sizing: border-box;
  width: 60%;
  height: 60vh;
  margin: auto;
  margin-top: 16vh;
  overflow-y: scroll;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 20px;
}

.messageform{
  width: 60%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  height: 40px;
}

.messageform input{
  flex: 6;
  height: 100%;
  border: none;
  outline: none;
  padding: 4px 12px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.messageform button{
  flex: 1;
  height: 100%;
  border: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #6A8EAE;
  color: white;
  font-size: 1em;
  padding: 4px 8px;
  transition-duration: 0.2s;
}

.messageform button:hover {
  background-color: #226199;
}

.message{
  background-color: #99b7d1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 1.2em;
  margin-top: 16px;
  width: 300px;
  min-width: 50px;
  max-width: 80%;
}

.message .message-header{
  height: 40px;
  display: flex;
  gap: 12px;
}

.message .name {
  font-size: 1.2em;
  font-weight: 800;
  display: inline;
}

.message .message-header{
  display: flex;
  align-items: center;
}
.message .edit-button{
  border: none;
  height: 32px;
  width: 32px;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
}

.message .edit-button:hover {
  color: white;
}

.message .delete-button{
  border: none;
  height: 32px;
  width: 32px;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
}

.message .delete-button:hover {
  color: red;
}

.message .save-button{
  border: none;
  height: 32px;
  width: 32px;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
}

.message .save-button:hover {
  color: white;
}

.message .message-body {
  width: 100%;
  font-size: 1em;
  padding: 4px 8px;
  margin-top: 4px;
  resize: none;
  white-space: pre-wrap;
  overflow-y: visible;
}

.message .message-header svg {
  height: 16px;
  width: 16px;
}

.message textarea.message-body {
  
  outline: none;
  min-height: 200px;
  background-color: transparent;
}

.message-right{
  align-self: flex-end;
}

.message-right .message-header{
  justify-content: flex-end;
}

.message-right h1{
  text-align: end;
}

.message-left{
  align-self: flex-start;
}

button {
  cursor: pointer;
}